body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: flex-start;
    background-image: url("/img/bc1.png");
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s;
    padding-top: 20px;
}

.container.hungry {
    background-image: url("/img/bg_hungry.png");
}

.container.sleepy {
    background-image: url("/img/OIP.jpg");
}

.container.sad {
    background-image: url("/img/31201.jpg");
}

/* Stats r on top */
.properties {
    display: flex;          /*  horizontally */
    gap: 20px;              /* Space between */
    font-size: 20px;
    margin-bottom: 30px;
    color: white;   
}
.properties div {
    display: flex;          
    align-items: center;
    gap: 5px;
}

button {
    padding: 6px 12px;
    cursor: pointer;
}

.character-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.character-container img {
    width: 200px;
    transition: 0.3s;
}