body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: flex-start;
    background-image: url("/img/bc1.png");
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s;
    padding-top: 20px;
}

.container.hungry {
    background-image: url("../img/perfect.jpg");
}

.container.sleepy {
    background-image: url("../project-TamagochiV1/img/sleep 2.0.jpg");
}

.container.sad {
    background-image: url("../img/OIP.jpg");
}

/* Stats r on top */
.properties {
    display: flex;         
    gap: 20px;              
    font-size: 20px;
    margin-bottom: 30px;
    color: white;   
}
.properties div {
    display: flex;          
    align-items: center;
    gap: 5px;
}

button {
    padding: 6px 12px;
    cursor: pointer;
}

.character-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.character-container img {
    width: 200px;
    transition: 0.3s;
}

.character-container {
    display: flex;
    align-items: center;   
    gap: 20px;             
}

.chat {
    background: rgba(255, 255, 255, 0.85);
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 18px;
    max-width: 250px;
    text-align: center;
    position: relative;
}

.chat::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(255,255,255,0.85);
}